<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.12" ></script>
</head>
<body>
<div id="parent-div">
    <label for="profileURL">profile URL</label>
    <input type="text" id="profileURL" name="profileURL">
    <input type="button" hx-post="/clicked" hx-triggered="click" hx-target="#parent-div"
           hx-swap="outerHTML" value="Submit">
</div>
</body>

</html>