{{ block "index" . }}
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.12" ></script>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <nav class="header__navigation">
                <div class="brand">
                    <div class="h-app">
                        <img src="assets/logo.png" class="u-logo">
                        <a href="/" class="u-url p-name">Indie Auth Playground</a>
                    </div>
                </div>


                <div class="menu nav__body">
                    <div class="nav__parent">
                        <a class="nav__item" title="home" href="/">Home</a>
                    </div>
                    <div class="nav__parent">
                        <a class="nav__item" title="Auth Endpoint" href="/auth">Auth Endpoint</a>
                    </div>
                    <div class="socials-nav__parent">
                        <a href="https://github.com/aczietlow" rel="noopener me" target="_blank">Github</a>
                        <a href="https://zietlow.io/" rel="noopener me" target="_blank">Website</a>
                    </div>
                </div>



            </nav>
        </header>

        <div class="content">
            {{ template "form" .Form }}
            {{ template "url" .RedirectURL }}
            <hr />
            {{ template "progress" .Progress }}
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(event) {
                    if (event.detail.xhr.status === 422) {
                        event.detail.shouldSwap = true;
                        event.detail.isError = false;
                    }
                });
            })
        </script>
    </body>
</html>
{{ end }}

{{ block "form" . }}

<div class="auth-wrapper" id="login-form">
    <div class="login-form__container"  >
        <div class="login-form__header">
            <h1>Log in with IndieAuth</h1>
        </div>
        <div class="login-form">
            <form hx-post="/auth" hx-swap="innerHTML" hx-target="#login-form">
                <div class="login-form__input-label">
                    <label for="url">ID (Web URL)</label>
                </div>
                <input
                    {{ if .Values.url }} value="{{.Values.url}}" {{ end }}
                    type="text" name="url" placeholder="domain.com">
                {{ if .Errors.url }}
                <div style="color:red"> {{ .Errors.url }} </div>
                {{ end }}
                <div class="login-form__button">
                    <button type="submit">Sign In</button>
                </div>


            </form>
        </div>
        <div class="login-form__footer">
            <span>Footer Notes</span>
        </div>
    </div>
    <div>
        <h2>Auth Information</h2>
    </div>
</div>

{{ end }}

{{ block "url" . }}

    {{ if . }}
        <a href="{{.}}">Auth Server Redirect URL</a>
    {{ end }}


{{ end }}

{{ block "progress" . }}

<pre>
    <div id="progress" hx-swap-oob="afterbefore">
    {{ print .Step }}
     </div>
</pre>
{{ end }}

