{{ block "index" . }}
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@1.9.12" ></script>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        {{ template "header.html" }}

        <div class="content">
            <div class="auth-wrapper">
                <div class="login-form__container">
                    <div class="login-form__header">
                        <h1>Log in with IndieAuth</h1>
                    </div>
                    <div class="login-form" id="login-form">
                        {{ template "form" . }}
                    </div>
                    <div class="login-form__footer">
                        <span>Footer Notes</span>
                    </div>
                </div>
                <div class="login-info__container">
                    {{ template "progress" .Progress }}
                </div>
            </div>


            <hr />
            <h1>Uncomment Image</h1>
<!--            <img src="assets/sequence-diagram.png" />-->
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", (event) => {
                document.body.addEventListener('htmx:beforeSwap', function(event) {
                    if (event.detail.xhr.status === 422) {
                        event.detail.shouldSwap = true;
                        event.detail.isError = false;
                    }
                });
            })
        </script>
    </body>
</html>
{{ end }}

{{ block "form" . }}
    {{ template "login-form" .Form }}
    {{ template "auth-form" .Form }}
    {{ template "url" .RedirectURL }}

{{ end}}

{{ block "login-form" . }}
<form hx-post="/auth" hx-swap="outerHTML">
    {{ if .Errors.url }}
    <div style="color:red"> {{ .Errors.url }} </div>
    {{ end }}
    <div class="login-form__input-label">
        <label for="url">ID (Web URL)</label>
    </div>
    <input
            {{ if .Values.url }} value="{{.Values.url}}" {{ end }}
            type="text" name="url" placeholder="domain.com">
    <div class="login-form__button">
        <button type="submit">Sign In</button>
    </div>
</form>
{{ end }}

{{ block "auth-form" . }}
<div class="auth-form" id="auth-form" hx-swap-oob="afterbefore">
    <form>
        <div class="login-form__input-label">
            <label for="authorization_endpoint">Authorization Endpoint</label>
        </div>
        <input
                {{ if .Values.authorization_endpoint }} value="{{.Values.authorization_endpoint}}" {{ end }}
                type="text" name="authorization_endpoint" disabled>
        <div class="login-form__input-label">
            <label for="token_endpoint">Token Endpoint</label>
        </div>
        <input
                {{ if .Values.token_endpoint }} value="{{.Values.token_endpoint}}" {{ end }}
                type="text" name="token_endpoint" disabled>
    </form>
</div>
{{ end }}

{{ block "url" . }}
<div class="redirect-url" id="redirect-url" hx-swap-oob="afterbefore">
    {{ if . }}
        <a href="{{.}}">Redirect to Auth Server</a>
    {{ end }}
</div>
{{ end }}

{{ block "progress" . }}

<div id="progress" hx-swap-oob="afterbefore" >
    {{ if eq .Step "discovery" }}
        {{ template "discovery.html" . }}
    {{ else if eq  .Step "authorization-request" }}
        {{ template "authorization-request.html" . }}
    {{ else if eq  .Step "redeeming-authorization-code" }}
        {{ template "redeeming-authorization-code.html" . }}
    {{ end }}

    <pre>
        <div>
            {{ print .Info }}
        </div>
    </pre>
</div>

{{ end }}

