{{ block "secrets" . }}
<html>
<head>
    {{ template "head.html" . }}
</head>
<body>
{{ template "header.html" . }}

    <div class="content">
        {{ template "restricted" . }}
    </div>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function(event) {
            if (event.detail.xhr.status === 422) {
                event.detail.shouldSwap = true;
                event.detail.isError = false;
            }
        });
    })
</script>
</body>
</html>
{{ end }}


{{ block "restricted" . }}

{{ if .Authenticated }}
<div>
    <h1>Summer Reading List</h1>
    <ul>
        <li>Thinking in Bets: Making Smarter Decisions When You Don't Have All the Facts</li>
        <li>The Unicorn Project</li>
        <li>The Dark Forest</li>
        <li>Dare to Lead</li>
    </ul>
</div>
{{ else }}
<div>
    <h1>Access Denied</h1>
</div>
{{ end }}

{{ end }}






