{{ define "refresh.html" }}

<h2>Refresh</h2>

<dl>
    <dt>grant_type=refresh_token</dt>
    <dd>Indicates to the server that a refresh token is being used. A new access token and refresh token should be returned</dd>

    <dt>refresh_token</dt>
    <dd>The refresh token that was previously provided to the client from the authorization server</dd>

    <dt>client_id</dt>
    <dd>(Remember clients are identified by URLs). THe Client's URL, which MUST match the client_id used in the authentication request</dd>

    <dt>scope (optional)</dt>
    <dd>The client may request a token with the same or fewer scopes than the original access token. If omitted, the request is treated as equal to the original scopes granted</dd>

</dl>

{{ end }}